<div class='columns is-multiline is-centered'>
  <div class='column is-10 container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>

        <!-- Pet Image -->
        <div class='column is-3'>
          <span class='header-icon user-profile-image'>
            <a ui-sref="animalsShow({ id: animal._id})">
              <img class='is-rounded' alt='' ng-src="{{ animal.imageUrl }}" alt="{{ animal.name }}">
            </a>
          </span>
        </div>
        <!-- Pet Header -->


        <div class='column is-3'>
          <div>
            <span class='title is-bold'>{{ animal.name }}</span><br>
            <em><span ng-repeat="color in animal.color"><span style="color: {{ color }}; border: solid 1px black; border-radius: 50%; background-color:{{ color }};">.......</span>  </span></em><br>
            <br>
              <p class='tagline'>

                <span ng-repeat="breed in animal.breed"><i class="fas fa-{{animal.species.toLowerCase()}}"></i> | <em>{{ breed }}</em><br></span>
              </p>
          </div>
        </div>

        <!-- Pet Current Booking -->
        <div class="column is-6">
          <p><strong>Booking in Progress</strong></p><br>
            <div ng-repeat="booking in filteredBookings">
              <div ng-if="booking.status === 'inProgress'">
                <div class='card columns is-multiline'>
                  <!-- Booker Profile Image -->
                  <div class="column is-3">
                    <a ui-sref="usersShow({ id: booking.booker._id})">
                      <img style="border-radius: 50%" height=60px width=60px  src="{{ booking.booker.profileImageUrl }}">
                    </a>
                  </div>

                  <!-- Booking Details -->
                  <div class="column is-9">
                    <span><strong>{{ booking.booker.givenName }} {{ booking.booker.surname }}</strong></span><br>
                    <span><strong>Pickup:</strong> {{ booking.pickup }}</span><br>
                    <span><strong>Drop Off:</strong> {{ booking.dropoff }}</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-6">
              <p><strong>{{ animal.name }}'s Reviews</strong></p><br>
              <div ng-repeat="booking in filteredBookings">
                <div ng-if="booking.status === 'complete'">
                  <div class='card columns is-multiline'>
              <!-- Booker Profile Image -->
                    <div class="column is-3">
                      <a ui-sref="usersShow({ id: booking.booker._id})">
                        <img style="border-radius: 50%" height=60px width=60px  src="{{ booking.booker.profileImageUrl }}">
                      </a>
                    </div>
              <!-- Booking Details -->
                    <div class="column is-9">
                      <span>⭐️⭐️⭐️⭐️⭐️ </span><br>
                      <span><strong>Pickup:</strong> {{ booking.pickup }}</span><br>
                      <span><strong>Drop Off:</strong> {{ booking.dropoff }}</span>
                    </div>
                  </div><br>
                </div>
              </div>
            </div>


      <div class="column is-6">

        <p><strong>Planned Bookings</strong></p><br>
        <div ng-repeat="booking in filteredBookings">
          <div ng-if="booking.status === 'pending'">
            <div class='card columns is-multiline'>
              <!-- Booker Profile Image -->
              <div class="column is-3">
                <a ui-sref="usersShow({ id: booking.booker._id})">
                  <img style="border-radius: 50%" height=60px width=60px  src="{{ booking.booker.profileImageUrl }}">
                </a>
              </div>

              <!-- Booking Details -->
              <div class="column is-9">
                <span>☆☆☆☆☆ </span><br>
                <span><strong>Pickup:</strong> {{ booking.pickup }}</span><br>
                <span><strong>Drop Off:</strong> {{ booking.dropoff }}</span>
              </div>

            </div><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
