<p>moment($scope.timeNow).unix</p>
<p>moment(booking.dropoff).unix</p>


<div ng-repeat="booking in filteredBookings" class="column is-4">
  <div ng-if="booking.status === 'pending'" class="column is-4">
    <p>This is the booking show page</p>
    <p>this is where we will put our Tinder Match-esque styling</p>

    <p>Pickup: {{ booking.pickup }}</p>
    <p>Drop Off: {{ booking.dropoff }}</p>
    <p>Animal: {{ booking.animal.name }}</p>
    <p>Human: {{ booking.booker.givenName }}</p>

  </div>
</div>
