<div class='columns is-multiline is-centered'>
  <div class='column is-8 container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>

        <div class='column is-3'>
          <span class='header-icon user-profile-image'>
            <img class='is-rounded' alt='' ng-src="{{ animal.imageUrl }}" alt="{{ animal.name }}">
          </span>
        </div>
        <!-- Pet Header -->
        <div class="column is-9">
          <div class='column is-12 name'>
            <p>
              <span class='title is-bold'>{{ animal.name }}</span>
              <i class="fas fa-{{animal.species.toLowerCase()}}"></i>
              <br>
            </p>
            <p class='tagline'>
              <strong>{{ animal.species }}  |  {{ animal.age }}  </strong><br>
              <em><span ng-repeat="breed in animal.breed">{{ breed }}</span></em><br>
              My Human: <a ui-sref="usersShow({ id: animal.owner._id})">{{ animal.owner.username }}</a>
            </p>
            <div class="button"><a ui-sref="bookingNew({ id: animal._id})">Book</a>
            </div>
          </div>
          <div class="columns is-multiline">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="booking in filteredBookings" class="column is-4">
  <div ng-if="booking.status === 'complete'" class="column is-4">

    <p>Pickup: {{ booking.pickup }}</p>
    <p>Drop Off: {{ booking.dropoff }}</p>
    <p>Animal: {{ booking.animal.name }}</p>
    <p>Human: {{ booking.booker.givenName }}</p>

  </div>
</div>
