<h2 class="title is-2">Menagerie</h2>
<section>
  <div ng-if ="isAuthenticated()">
    <p>Welcome back {{ username }}</p>
  </div>

  <form ng-submit="handleFilterSubmit()">
    <!-- //$scope.searchTerm is what the user types into the searchbar -->
    <input type="text" class="input" ng-model="searchTerm">
    <button class="button">🔎</button>
  </form>

  <div class="columns is-multiline">
    <!-- show only the filtered animals -->
    <div ng-repeat="animal in filteredAnimals" class="column is-4">

      <a ui-sref="animalsShow({ id: animal._id })">
        <div class="card">
          <div class="card-header" style="max-height: 40px;">
            <img height = 35px width = 40px src="" alt="">
            <h2 class="is-4" style="font-size: 1.7em;">{{ animal.name }}</h2>
          </div>
        </div>
      </a>

    </div>
  </div>

</section>
