<h2 class="title is-2">Menagerie</h2>
<section>
  <div ng-if ="isAuthenticated()">
    <p>Welcome back {{ username }}</p>
  </div>

  <form ng-submit="handleFilterSubmit()">
    <input type="text" class="input" ng-model="searchTerm">
    <button class="button">🔎</button>
  </form>

  <div class="columns is-multiline">
    <div ng-repeat="animal in filteredAnimals" class="column is-4">

      <a ui-sref="animalsShow({ id: animal._id })">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img ng-src="{{ animal.imageUrl }}" alt="{{ animal.name }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 media-content">{{ animal.name }}</p>
                <p class="subtitle is-6 media-content">{{ animal.breed[0] }}</p>
              </div>
            </div>
            <div class="content" ng-init="limit = 205">
            {{ animal.bio | limitTo: limit}}{{animal.bio.length > limit ? '...' : ''}}</div>
          </div>
        </div>
    </div>
  </div>

</section>
