<h1 class="title is-1">Add your Pet</h1>
<div class="columns is-multiline">
  <div class="column is-6">
    <div class="columns is-multiline">
      <div class="column is-12">
        <form ng-submit="handleSubmit()">
          <input type="text" class="column is-12" ng-model="animal.name" placeholder = "Name">
          <input type="number" min="1" max="50" class="column is-12" ng-model="animal.age" placeholder = "Age in Years">
          <input type="radio" ng-model="animal.sex" name="sex" value="boy" checked>Boy
          <input type="radio" ng-model="animal.sex" name="sex" value="girl">Girl<br>
          <input type="text" class="column is-12" ng-model="animal.species"placeholder = "Cat/Dog (Dropdown?)">
          <input type="text" class="column is-12" ng-model="animal.breed"placeholder = "Dropdown based on sepcies (Rob's Species API?)">
          <input type="color" class="column is-12" ng-model="animal.colour"placeholder = "Color"><br>
          <textarea type="text" class="column is-12" ng-model=" animal.bio" placeholder = "Tell us about your pet"></textarea><br>
          <button class="button is-link">New</button>
        </form>
      </div>
    </div>
  </div>
</div>
