<h1 class="title is-1">Add your Pet</h1>
<div class="columns is-multiline">
  <div class="column is-6">
    <div class="columns is-multiline">
      <div class="column is-12">
        <form ng-submit="handleSubmit()">
          <input class="column is-12" ng-model=" animal.name" placeholder = "Name">
          <input class="column is-12" ng-model=" animal.age" placeholder = "Dropdown (Year + Months) / or enter birthdate">
          <input class="column is-12" ng-model=" animal.bio" placeholder = "Tell us about your pet">
          <input class="column is-12" ng-model=" animal.sex"placeholder = "Male / Female (Radio buttons)">
          <input class="column is-12" ng-model=" animal.species"placeholder = "Cat/Dog (Dropdown?)">
          <input class="column is-12" ng-model=" animal.breed"placeholder = "Dropdown based on sepcies (Rob's Species API?)">
          <input class="column is-12" ng-model=" animal.colour"placeholder = "Colours (Dropdown? Pallet? Talk to Alex Francis)"><br>
          <button class="button is-link">New</button>
        </form>
      </div>
    </div>
  </div>
</div>
