<div class='columns is-multiline is-centered'>
  <div class='column is-8 container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>
        <div class='column is-3'>
          <span class='header-icon user-profile-image'>
            <img class='is-rounded' alt='' ng-src="{{ animal.imageUrl }}" alt="{{ animal.name }}">
          </span>
        </div>
<!-- Pet Header -->
        <div class="column is-9">
          <div class='column is-12 name'>
            <p>
              <span class='title is-bold'>{{ animal.name }}</span>
              <i class="fas fa-{{animal.species.toLowerCase()}}"></i>
              {{ animal.species.toLowerCase() }}
              <br>
            </p>
            <p class='tagline'>
              <strong>{{ animal.species }}  |  {{ animal.age }}  |  <span ng-repeat="color in animal.color">{{ color }}</span> | <img height=30px width=30px src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Asexual_symbol.svg/1004px-Asexual_symbol.svg.png" style="background-color:{{animal.color }};"alt=""></strong><br>
              <em><span ng-repeat="breed in animal.breed">{{ breed }}</span></em><br>
              My Human: <a ui-sref="usersShow({ id: animal.owner._id})">{{ animal.owner.username }}</a>
            </p>
            <div class="button"><a ui-sref="bookingNew({ id: animal._id})">Book</a>
            </div>
          </div>
          <div class="columns is-multiline">

<!--Holidays -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'>{{ animal.bookings.length }}</p>
              <p class='stat-key'><a ui-sref="bookingIndex({ id: animal._id })">bookings</a></p>
            </div>

<!--Reviews -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'>99</p>
              <p class='stat-key'><a href="#">reviews</a></p>
            </div>

<!--Star Rating -->
            <div class='column is-4 has-text-centered'>
              <p class='stat-val'>{{ animal.meanRating }} ⭐️</p>
              <p class='stat-key' ng-if="animal.meanRating <= 2"><a href="#"></a>Bad {{ animal.sex }}</p>
              <p class='stat-key' ng-if="animal.meanRating >2 && animal.meanRating <3.5"><a href="#"></a>Good {{ animal.sex }}</p>
              <p class='stat-key' ng-if="animal.meanRating >3.5"><a href="#"></a>Really Good {{ animal.sex }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='columns is-multiline is-centered'>
  <div class="column is-1"></div>

  <!-- Split Screen Left -->
  <div class="column is-5">
<!-- Bio -->
    <h3 class="subtitle is-3">About {{ animal.name }}</h3>

    <p>
    My name is {{ animal.name }} the {{ animal.species }} and I belong to <a ui-sref="usersShow({ id: animal.owner._id})">{{ animal.owner.givenName }}</a></p>
    <p>I am a {{ animal.age }}-year-old <span ng-repeat="breed in animal.breed">{{ breed }}</span>.
    I live in {{ animal.location }}</p>
    <p>{{ animal.bio }}</p>

    <div>
      <button ng-if="animal.ownedBy._id === userId" ng-if="isAuthenticated()" ui-sref="animalsEdit({ id: animal._id })">Edit</button>
      <button ng-if="animal.ownedBy._id === userId" ng-if="isAuthenticated()" ng-click="handleDelete()">Delete</button>
    </div>

<!-- Edit & Delete Buttons -->
    <div>
      <form>
        <button class="button" ng-if="isAuthenticated() && animal.owner._id === userId" ui-sref="animalsEdit({ id: animal._id })">Edit</button>
        <button class="button" ng-if="isAuthenticated() && animal.owner._id === userId" ng-click="handleDelete()">Delete</button>
      </form>
    </div>

<!-- Reviews -->
    <div class="reviews">
      <h5 class="subtitle is-5">Reviews</h5>
      <div ng-repeat="review in animal.reviews">
        <span style="font-weight:bold;">{{ review.user.username }}</span>
        <span>{{ review.text }}</span>
        <button ng-if="isAuthenticated() && review.user._id === userId" class="delete-button" ng-click="deleteReview(review)">x</button>
      </div>

<!-- review Form -->
      <div ng-if="isAuthenticated()" class="">
      <h6 class="subtitle is-6">Add a review</h6>
        <form ng-submit="createReview()">
          <textarea name="text" ng-model="review.text" class="textarea"></textarea>
          <button class="button">review</button>
        </form>
      </div>
  </div>
</div>


<!-- Split Screen Right -->
  <div class="column is-5">
    <!-- Bookings -->
      <h3 class="subtitle is-3">{{ animal.name }}'s Bookings</h3>

      <div class="columns column is-12">
        <div class="column is-6">
          <p>Pending</p>
          <div ng-repeat="booking in animal.bookings">
            <div ng-if="booking.status === 'pending'">
              <p><strong>Human: </strong><a ui-sref="usersShow({ id: booking.booker._id})">{{ booking.booker.givenName}}</a></p>
              <p><strong>Pickup:</strong> {{ booking.pickup }}</p>
            </div>
          </div>
        </div>

        <div class="column is-6">
          <p>Completed</p>
          <div ng-repeat="booking in animal.bookings">
            <div ng-if="booking.status === 'complete'">
              <p><strong>Human: </strong> <a ui-sref="usersShow({ id: booking.booker._id})">{{ booking.booker.givenName}}</a></p>
              <p><strong>Completed:</strong> {{ booking.dropoff }}</p>
            </div>
          </div>
        </div>

  </div>
  <div class="column is-1"> </div>

</div>
