* {
  font-family: 'Raleway', sans-serif;
}

.new {
  width: 50vw;
  margin: 0 auto;
}
.navbar.is-light .navbar-end > a.navbar-item:hover {
  color: white;
}

.navbar {
  background:
    linear-gradient(
      to left,
      #5B86E5 0%,
      // rgba(134,29,84,1) 12%,
      // rgba(255,93,177,1) 47%,
      #36D1DC 100%
    )
    left
    bottom
    no-repeat;
  background-size:100% 3px ;/* if linear-gradient, we need to resize it */
}

a {
  color: #5B86E5;
}

a:hover{
  color: #36D1DC;
}

a.navbar-item {
  margin-left: 15px;
}

a.navbar-item:hover {
  color: white;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  opacity: 0.8;
  // font-weight: bold;
}

h5.subtitle {
  color: #e7005c;
}

.filter-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-content:hover {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  opacity: 0.8;
  .media {
    .media-content {
      p {
        color: #ffffff;
      }
    }
  }
}

.button.is-light:hover{
  color: #ffffff;
}

.button:hover {
  color: #ffffff;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  opacity: 0.75;
  a {
    color: #ffffff;
  }
}

button:hover {
  color: #ffffff;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

.content {
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.footer {
  background:
    linear-gradient(
      to left,
      #5B86E5 0%,
      // rgba(134,29,84,1) 12%,
      // rgba(255,93,177,1) 47%,
      #36D1DC 100%
    )
    left
    top
    no-repeat;
  background-size:100% 3px ;/* if linear-gradient, we need to resize it */
}

.under-auth-form {
  font-size: 18px;
  margin: 30px;
  line-height: 35px;
}
