// .button {
//   background: #7F7FD5;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

.new {
  width: 50vw;
  margin: 0 auto;
}

h3 {
  .title {
    color: #2193b0;
  }
}

.card-content:hover {
  background: linear-gradient(45deg, #2600c3, #e7005c);
  // background: #2193b0;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  .media {
    .media-content {
      p {
        color: #ffffff;
      }
    }
  }
}

.button:hover {
  background: linear-gradient(45deg, #2600c3, #e7005c);
  // background: #2193b0;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-weight: bold;
  a {
    color: #ffffff;
    font-weight: bold;
  }
}

.content {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
