<!DOCTYPE html>
<html ng-app='PetApp'>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>PetApp</title>
  </head>
  <body ng-controller="masterController">
    <nav class="navbar">
      <div class="navbar-start">
        <i style="font-size: 40px; padding: 5px; margin: 5px; border-radius: 50%; background-color: hsl(204, 86%, 53%);" class="fas fa-exchange-alt"></i>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="home">Home</a>
        <a class="navbar-item" ui-sref="animalsIndex">Menagerie</a>
        <a class="navbar-item" ui-sref="animalsNew">Add your Pet</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Register</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Login</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ng-click="handleLogout()">Log Out {{ username }}</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ui-sref="usersShow({ id: userId})"><i class="far fa-user"></i></a>
      </div>
    </nav>

    <main class="container" ng-if="!isHomepage">
      <div ui-view></div>
    </main>
    <!-- NOTE: This is so the background image can fill the screen -->
    <div ui-view ng-if="isHomepage"></div>
    
    <!-- <div class="container">
      <div ui-view></div>
    </div> -->
    <footer class="footer is-white has-text-centered"><br>
      <div class="has-text-centered">
        A Terezid Production 🐶
      </div><br>
    </footer>
  </body>
</html>
