<!DOCTYPE html>
<html ng-app='PetApp'>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>PetApp</title>
  </head>
  <body ng-controller="masterController">
    <nav class="navbar is-light">
      <div class="navbar-start">
        <i style="font-size: 40px; padding: 5px; margin: 5px; border-radius: 50%; background-color: hsl(204, 86%, 53%);" class="fas fa-exchange-alt"></i>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="home">Home</a>
        <a class="navbar-item" ui-sref="animalsIndex">Menagerie</a>
        <a class="navbar-item" ui-sref="animalsNew">Add your Pet</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Register</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Login</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ng-click="handleLogout()">Log Out {{ username }}</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ui-sref="usersShow({ id: userId})">My Profile</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="far fa-user"></i>
          </a>
          <!-- <div class="navbar-dropdown">
            <a href="/option1" class="navbar-item">
              Dropdown Option 1
            </a>
            <a href="/option2" class="navbar-item">
              Dropdown Option 2
            </a>
            <a href="/option3" class="navbar-item">
              Dropdown Option 3
            </a>
            <a href="/option4" class="navbar-item">
              Dropdown Option 4
            </a>
            <a href="/option5" class="navbar-item">
              Dropdown Option 5
            </a>
          </div> -->
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ui-view></div>
    </div>
    <footer class="footer is-light has-text-centered"><br>
      <div class="has-text-centered">
        A Terezid Production 🐶
      </div><br>

    </footer>
  </body>
</html>
