<!DOCTYPE html>
<html ng-app='PetApp'>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
    <title>PetApp</title>
  </head>
  <body ng-controller="masterController">
    <nav class="navbar">
      <div class="navbar-start">
        <i class="fas fa-exchange-alt logo"></i>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="home">Home</a>
        <a class="navbar-item" ui-sref="animalsIndex">Menagerie</a>
        <a class="navbar-item" ui-sref="animalsNew">Add your Pet</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Register</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Login</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ng-click="handleLogout()">Log Out {{ username }}</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ui-sref="usersShow({ id: userId})"><i class="far fa-user"></i></a>
      </div>
    </nav>

    <main class="container" ng-if="!isHomepage">
      <div ui-view></div>
    </main>
    <div ui-view ng-if="isHomepage"></div>

    <footer class="footer is-white has-text-centered"><br>
      <div class="has-text-centered">
        A Terezid Production 🐶
      </div><br>
    </footer>
  </body>
</html>
