<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">

          <form ng-submit="handleLogin()">
            <div class="field">
              <div class="control">
                <label for="username" class="label">Username</label>
                <input class="input" ng-model="user.email" type="text" name="username" placeholder="Username"  autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label for="password" class="label">Password</label>
                <input class="input" ng-model="user.password" type="password" name="password" placeholder="Password">
              </div>
            </div>
            <button class="button is-block is-light is-fullwidth">Login</button>
          </form>
        </div>
        <div class="under-auth-form">
          <p class="has-text-grey">Or</p>
          <div class="button"><a href="/register">Sign Up</a></div>
          <p class="has-text-grey">if you haven't got an account yet.</p>
        </div>
      </div>
    </div>
  </div>
</section>
