<div class='columns is-multiline is-centered'>
  <div class='column is-10 container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>
        <div class='column is-3'>
          <span class='header-icon user-profile-image'>
            <img class='is-rounded' alt='' ng-src="{{ user.profileImageUrl }}" alt="{{ user.username }}">
          </span>
        </div>

<!-- User Header -->
        <div class="columns is-multiline column is-3">
          <div class='column is-12 name'>

            <p>
              <span class='title is-bold'>{{ user.username }}</span>
            </p>

            <p class='tagline'>
              <strong>{{ user.givenName }} {{ user.surname }}</strong><br>
            </p>

            <p class='tagline'>
              {{ user.age }}
            </p><br>

            <p>
            <i class="fas fa-map-pin"></i>
            {{user.location}}
            </p>

            <p>
            <i class="far fa-envelope"></i>
            {{user.email}}
            </p>



          </div>
        </div>

        <!-- <div class="columns is-multiline"> -->

<!--Bio -->
        <div class="column is-6">
          <div class='column is-12 name'>
            <p class='stat-val'>{{ user.bio }}</p>
          </div>

          <div class='column is-12 name'>
            <span><strong>{{ user.givenName }}'s pets</strong></span>
          </div>

          <div class="columns column is-12">
            <span style="margin: 10px" ng-repeat="animal in user.animalsOwned">
              <a ui-sref="animalsShow({ id: animal._id})">
                <img style="border-radius: 50%" height=60px width=60px src="{{ animal.imageUrl }}">
              </a>
              <div>
                {{ animal.name }}
              </div>
            </span>
          </div>


        </div>
    </div>
  </div>
</div>
